.fa {
  font-size: 1em;
}

#formComplete {
  margin-top: 5em;
  text-align: center;
  border-radius: 1em;
  border: 2px solid rgb(253, 251, 251);
  color: rgb(55, 201, 149);
}

.flash-message
{
    z-index: 10000;
    position: relative;
}

#cont {
  background-color: rgb(253, 251, 251);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.triangle {
  margin: auto;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 130px solid #D00A1C;
}

.triangle2 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 130px solid #EC5A12;
  display: inline-block;
}

.triangle3 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 130px solid #FFE00C;
  display: inline-block;
}

.triangle4 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 130px solid #34CE00;
  display: inline-block;
}

.triangle5 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 130px solid #3E13AC;
  display: inline-block;
  /*margin-top: 0px;*/
}


.row1:hover {
  background-color: #FB5393;
}

.row2:hover {
  background-color: #FB6F53 ;
}

.row3:hover {
  background-color: #FBFB53;
}

.row4:hover {
  background-color: #53FB77;
}

.row5:hover {
  background-color: #9053FB;
}

.row1 {
  text-align: center;
  background-color: #FEA9B1;
}

.row2 {
  text-align: center;
  background-color: #FFCDA1;
}

.row3 {
  text-align: center;
  background-color: #FFF5B3;

}

.row4 {
  text-align: center;
  background-color: #DDFFD2;

}

.row5 {
  text-align: center;
  background-color: #DCCFFE;

}

#topHead {

}

#butt {
  text-align: center;
  padding-top: 30px;

}

button {
  font-size: 1em;
  background-color: rgb(55, 201, 149);
  border-color: rgb(55, 201, 149);
  border-radius: 5px;
  color: white;

}

.topic {
  text-align: center;
  margin-top: 108px;
  margin-left: -85px;
  font-size: 12px;
}
