<flash-messages></flash-messages>
<div id="cont" *ngIf="showForm">
  <div class="row1">
    <div class="triangle">
      <select name="topic" [(ngModel)]="answers.q1" class="topic" required>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
  </div>
  <div class="row2">
    <div class="triangle2">
      <select name="topic" [(ngModel)]="answers.q2" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle2">
      <select name="topic" [(ngModel)]="answers.q3" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
  </div>
  <div class="row3">
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q4" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q5" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q6" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
  </div>
  <div class="row4">
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q7" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q8" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q9" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q10" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
  </div>
  <div class="row5">
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q11" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q12" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q13" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q14" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q15" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Children ">Children </option>
        <option value="Communication ">Communication </option>
        <option value="Finance">Finance</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Love & Relationships">Love & Relationships </option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Network of support">Network of support</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Self Awareness">Self Awareness</option>
        <option value="Sense of Purpose">Sense of Purpose </option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
      </select>
    </div>
  </div>

  <div id="butt">
    <button type="submit" (click)="submit()">Submit Form</button>
  </div>
</div>

<div id="formComplete" *ngIf="showComplete">
  <h1>Thanks!</h1>
  <h3>Your answers have been submitted successfuly
    <span><i class="fa fa-smile-o"></i></span>
  </h3>
</div>
