#cont {
  background-color: rgb(253, 251, 251);
  /*position: absolut;*/
}

.triangle {
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 140px solid rgb(255, 93, 87);
}

.triangle2 {
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 140px solid rgb(255, 184, 0);
  display: inline-block;
}

.triangle3 {
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 140px solid rgb(239, 233, 0);
  display: inline-block;
}

.triangle4 {
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 140px solid rgb(164, 222, 82);
  display: inline-block;
}

.triangle5 {
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 140px solid rgb(172, 135, 196);
  display: inline-block;
  margin-top: 0px;
}


.triangle:hover {
  border-bottom: 140px solid red;
}

.triangle2:hover {
  border-bottom: 140px solid orange;
}

.triangle3:hover {
  border-bottom: 140px solid yellow;
}

.triangle4:hover {
  border-bottom: 140px solid green;
}

.triangle5:hover {
  border-bottom: 140px solid purple;
}

.row1 {
  margin: 0 auto;
}

.row2 {
  text-align: center;
}

#topHead {

}

#butt {
  text-align: center;
  padding-top: 30px;
}

button {
  font-size: 1em;
  background-color: rgb(55, 201, 149);
  border-color: rgb(55, 201, 149);
  color: white;

}

.topic {
  text-align: center;
  margin-top: 117px;
  margin-left: -102px;
  font-size: 12px;
}
