<flash-messages></flash-messages>
<div id="cont" *ngIf="showForm">
  <div class="triangle row1">
    <select name="topic" [(ngModel)]="answers.q1" class="topic" required>
      <option value="Choose" disabled selected>Choose a Topic</option>
      <option value="Friendship">Friendship</option>
      <option value="Extended Family">Extended Family</option>
      <option value="Love">Love</option>
      <option value="Communication">Communication</option>
      <option value="Sex & Intimacy">Sex & Intimacy</option>
      <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
      <option value="Finance">Finance</option>
      <option value="Parenting">Parenting</option>
      <option value="Beliefs & Values">Beliefs & Values</option>
      <option value="Network Builders">Network Builders</option>
      <option value="Physical Health">Physical Health</option>
      <option value="Home Environment">Home Environment</option>
      <option value="Personal Brand">Personal Brand</option>
      <option value="Rest & Relaxation">Rest & Relaxation</option>
      <option value="Purpose">Purpose</option>
      <option value="Mental Well-being">Mental Well-being</option>
      <option value="Personal Development">Personal Development</option>
      <option value="Emotional Well-being">Emotional Well-being</option>
      <option value="Knowledge & Understanding">Knowledge & Understanding</option>
      <option value="Career & Business">Career & Business</option>
      <option value="Leadership & Management">Leadership & Management</option>
      <option value="Work Relationships">Work Relationships</option>
      <option value="Self-awareness">Self-awareness</option>
      <option value="Sense of belonging & Community">Sense of belonging & Community</option>
      <option value="Gratitude">Gratitude</option>
      <option value="Life Balance">Life Balance</option>
    </select>
  </div>
  <div class="row2">
    <div class="triangle2">
      <select name="topic" [(ngModel)]="answers.q2" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle2">
      <select name="topic" [(ngModel)]="answers.q3" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
  </div>
  <div class="row2">
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q4" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q5" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle3">
      <select name="topic" [(ngModel)]="answers.q6" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
  </div>
  <div class="row2">
    <div class="triangle4 dropup">
      <select name="topic" [(ngModel)]="answers.q7" class="topic" required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q8" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q9" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle4">
      <select name="topic" [(ngModel)]="answers.q10" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
  </div>
  <div class="row2">
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q11" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q12" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q13" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q14" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
    <div class="triangle5">
      <select name="topic" [(ngModel)]="answers.q15" class="topic  " required autogrow>
        <option value="Choose" disabled selected>Choose a Topic</option>
        <option value="Friendship">Friendship</option>
        <option value="Extended Family">Extended Family</option>
        <option value="Love">Love</option>
        <option value="Communication">Communication</option>
        <option value="Sex & Intimacy">Sex & Intimacy</option>
        <option value="Leisure & Lifestyle">Leisure & Lifestyle</option>
        <option value="Finance">Finance</option>
        <option value="Parenting">Parenting</option>
        <option value="Beliefs & Values">Beliefs & Values</option>
        <option value="Network Builders">Network Builders</option>
        <option value="Physical Health">Physical Health</option>
        <option value="Home Environment">Home Environment</option>
        <option value="Personal Brand">Personal Brand</option>
        <option value="Rest & Relaxation">Rest & Relaxation</option>
        <option value="Purpose">Purpose</option>
        <option value="Mental Well-being">Mental Well-being</option>
        <option value="Personal Development">Personal Development</option>
        <option value="Emotional Well-being">Emotional Well-being</option>
        <option value="Knowledge & Understanding">Knowledge & Understanding</option>
        <option value="Career & Business">Career & Business</option>
        <option value="Leadership & Management">Leadership & Management</option>
        <option value="Work Relationships">Work Relationships</option>
        <option value="Self-awareness">Self-awareness</option>
        <option value="Sense of belonging & Community">Sense of belonging & Community</option>
        <option value="Gratitude">Gratitude</option>
        <option value="Life Balance">Life Balance</option>
      </select>
    </div>
  </div>

  <div id="butt">
    <button type="submit" (click)="submit()">Submit Form</button>
  </div>
</div>

<div id="formComplete" *ngIf="showComplete">
  <h1>Thanks!</h1>
  <h3>Your answers have been submitted successfuly
    <span><i class="fa fa-smile-o"></i></span>
  </h3>
</div>
